@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 0.25rem;
    border: 1px solid darkgray;
    outline: none;

}

select {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 0.25rem;
    border: 1px solid darkgray;
    outline: none;
}


label {
    display: block;
    margin: 5px 0;
}

.container {
    max-width: 800px;
}

form {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1.5rem;
}

.form-step {
    display: none;
}

.form-step-active {
    display: block;
    animation: animate 0.5s;
    transform-origin: top;
}

.input-group {
    margin: 2rem 0;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.btn {
    padding: 10px 50px;
    display: block;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #09439E;
    color: white;
    font-size: 15px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.20) 0 5px 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;

}

.btn-right {
    margin-left: auto;
}

/*ProgressBar*/
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before, .progress {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress{
    background-color: #09439E;
    width: 0;
}

.progress-step {
    width: 2rem;
    height: 2rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: #09439E;
    color: white;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

