@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1300px) {
    .right {
        display: none;
    }
}

.btn {
    border: 2px solid darkgray;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
}