@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 1200px) {
    .input {
        display: none;
    }
}

@media (max-width: 950px) {
    .nav-menu {
        display: none;
    }

    .mobile-bar {
        display: flex;
        position: fixed;
        top: 20px;
        left: 20px;
       font-size: 30px;
        z-index: 1;
    }

    .container {

        flex-direction: column;
    }

    .actors {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.header {
    margin-top: 20px;
}

.fa-bars {
    font-size: 25px;
}


.btn {
    border: 2px solid darkgray;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.popular {
    margin: 50px auto 0 auto;
    padding: 0 20px;
}


.right a {
    white-space: nowrap;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.card {
    background-color: #324147;
    padding: 5px;

}

.card:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    background: #324147;
}

.card h2 {
    margin-top: 5px;
    padding: 10px 10px;
}

.card p {
    padding-left: 10px;
    margin-bottom: 10px;
}

.card a img {
    width: 100%;
}


/*Footer*/


.icons {
    font-size: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/*Movie Details Page*/

.fa-play {
    font-size: 35px;

    bottom: 0;
    color: #E0BA49;

}

.play-button {
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 15px 20px;
}

.nav-menu ul li a:hover {
    color: #DC1A28;
}


.total-points h4 {
    border: 1px solid #E0BA49;
    font-size: 35px;
    border-radius: 100%;
    padding: 15px;
    text-align: center;
}

.other-points h4 {
    font-size: 25px;
}

.other-points p {
    font-size: 14px;
    color: darkgray;
}

.top-rank > div {
    font-size: 20px;
}

.cast-row img:hover {
    transform: scale(1.15);
}

.cast-row p {
    margin-top: 15px;
}

.trailer img:hover {
    transform: scale(1.15);
}

.about ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

footer .container {
    margin: 20px auto !important;
}

