@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1300px) {
    .right {
        display: none;
    }

}

@media (max-width: 1024px) {
    .input {
        width: 400px;
    }
}

@media (max-width: 1200px) {
    .card {
        width: 100px;
    }
}


.btn {
    border: 2px solid darkgray;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.popular {
    margin-top: 50px;
}

.popular h1 {

}

.card {

    background-color: #324147;
    padding: 5px;
    width: calc(20% - 10px);
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    background: #324147;
}

.card h2 {
    margin-top: 5px;
    padding: 10px 10px;
}

.card p {
    padding-left: 10px;
    margin-bottom: 10px;
}

.card a img {
    width: 100%;
}

body {
}